<div class="modal fade redirect" id="redirect-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-block text-center">
        <%= image_tag("loader.gif", class: "network-log width-50") %>
        <h5 class="modal-title" id="exampleModalLongTitle">Yayy!! Here we have deals for you</h5>
      </div>
    </div>
  </div>
</div>




