.exclusive-deals{
  .header-banner{
    background-color: #f3ecec;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .bg-blue-banner{
    background-color: #d7def1;
  }
  .fold-banner{
    background-color: #d7def1;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .ultra-bg{
    background-color: #a7b05a30;
  }
  .ultra-banner{
    background-color: #a7b05a30;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }

}
