$primary-color: #71c0f2;
.exclusive-deals{
  .header-img{
    width:70%;
    height: 100%;
  }
  .header-banner{
    background-image: url(/assets//abstract-blue.jpg);
    background-position: 50% 20%;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .fold-banner{
    background-color: #1a3e7c85;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .z-series-bg{
    background-image: linear-gradient(112deg, #213279, #107ac0);
  }
  .z-series-img{
    width:90%;
    height: 100%;
  }
  .ultra-banner{
    background-image: linear-gradient(45deg,#23236a,#107ac0);
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .ultra-img{
    width:60%;
    height: 100%;
  }
  .phone-deals-bg{
    background-color: #87CEEB;
  }
  .deals-banner{
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .sim-deals-banner{
    background-color: #87CEEB;
    border-radius: 250% 250%/0 0 150px 150px;
    overflow: hidden;
  }
  .deal-card{
    background-image: linear-gradient(45deg,#23236a,#107ac0);
    transition: all 0.3s ease-in-out;
    &:hover{
      cursor: pointer;
      box-shadow: 0 0.5rem 1rem rgba(0 ,0, 0, 0.15) !important;
    }
  }
  .phone-img{
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  .deal-phone-button{
    border: 2px solid $primary-color;
    &:hover{
      background-color: $primary-color !important;
      color: #fff !important;
    }
  }
  .deal-phone-img{
    height: 250px;
    img{
      object-fit: contain;
    }
  }
}
