<!-- Form -->
<div class="modal fade" id="deal-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content deal-form-box">
      <div class="modal-header pt-md-0  pb-md-2 pt-2 pb-1 align-items-center">
         <h1 id="ModalCenterTitle" class="ml-auto"><span class="text-lite">Order</span><span class="text-dark-blue"> your free SIM  </span><span class="text-lite"> to get started</span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
          <p class="text-lite text-center">Your SIM will arrive in the post within 2 working days, and comes in 3 sizes to fit any phone. Once you’ve got it, you just need to activate it.</p>
          <div class="progress mb-5" hidden>
            <div class="progress-bar w-0" id="progressBar"></div>
          </div>
          <div  class="tab display-block" id="slide1">
            <div class="row justify-content-center">
              <!-- postcode -->
              <div class="form-group col-lg-7  col-12">
                <label class="text-lite">Postcode*</label>
                <div class="input-group justify-content-center">
                  <input
                  name="postcode"
                  required
                  data-parsley-required="true"
                  data-parsley-required-message="Please Enter Postcode"
                  data-parsley-group="block-0"
                  data-parsley-validapipostcode
                  type="text"
                  class="postcode form-control ignoreStep4"
                  placeholder="Postcode">
                    <button type="button" class="form-control btn btn-success rounded-right left-0r findAddress-btn">Find Address</button>
                </div>
                <div class="postcode-error position-absolute"></div>
              </div>
              <div class="input-group mb-3  col-lg-7 email-div">
                <label class="w-100 text-lite">Email Address*</label>
                <div class="clearfix"></div>
                <input
                type="email"
                name="email"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Valid Email Address"
                data-parsley-type="email"
                data-parsley-type-message="Please Enter Valid Email Address"
                data-parsley-group="block-0"
                data-parsley-validemail
                value=""
                class="form-control nme_inpu email"
                placeholder="Email Address">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <%= image_tag("privacy.png", class: "privcy pull-right", alt: "Privacy image") %>
                  </span>
                </div>
              </div>

              <div class="form-group col-lg-7 col-12 property-div display-none">
                <label class="text-lite">Your Property*</label>
                <input type="hidden" name="towncity" class="towncity" >
                <input type="hidden" name="street1" class="street1" >
                <input type="hidden" name="county" class="county" >
                <input type="hidden" name="houseNumber" class="houseNumber" >
                <select
                  id="property"
                  name="property"
                  class="property w-100 form-control ignoreStep4 text-dark"
                  data-parsley-required="true"
                  data-parsley-required-message="Please Select Your property"
                  data-parsley-group="block-0"
                  required>
                </select>
              </div>

              <div class="form-group col-lg-7 col-12 address-div display-none">
                <label class="d-flex justify-content-start  text-black f-25 mb-2">
                  First Line Of Address
                </label>
                <input
                  placeholder="Address"
                  id="address"
                  name="address"
                  class="address form-control ignoreStep4"
                  data-parsley-required="true"
                  data-parsley-required-message="Please Enter Your Address"
                  data-parsley-group="block-0"
                  type="text"
                  >
              </div>
              <div class="custom-checkbox col-lg-7">
                <label class="text-lite">Accept</label>
                <div class="onoffswitch">
                  <input type="hidden" name="c1">
                  <input
                    type="checkbox"
                    name="agree"
                    class="onoffswitch-checkbox approve"
                    id="myonoffswitch"
                    data-parsley-required="true"
                    data-parsley-group="block-0"
                    data-parsley-required-message="Please accept our terms and conditions"
                    >
                  <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
                </div>
                <div class="error-checkbox"></div>
                <%= render 'layouts/common/accept_term_popup'%>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide2" hidden>
            <div class="row justify-content-center">
              <div class="form-group col-lg-7 col-12">
                <label class="text-lite">First Name*</label>
                <input
                name="first_name"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter First Name" data-parsley-pattern-message="First Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
                data-parsley-group="block-1"
                type="hidden"
                class="first_name form-control hero-input ignoreStep3"
                placeholder="First Name" >
                 <i class="validate success fa fa-check-circle"></i>
                <i class="validate error fa fa-times-circle"></i>
              </div>
              <div class="form-group col-lg-7 col-12">
                <label class="text-lite">Last Name*</label>
                <input
                name="last_name"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Last Name"
                data-parsley-group="block-1"
                data-parsley-pattern-message="Last Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
                type="text"
                class="form-control ignoreStep3 last_name"
                placeholder="Surname" >
                 <i class="validate success fa fa-check-circle"></i>
                <i class="validate error fa fa-times-circle"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mx-auto col-12 btn-div1 justify-content-center">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 display-none">
                <button id="btn-back" type="button" class="btn-back1 py-2 btn btn-primary btn-lg">Back</button>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
                <i class="lodr but_loader display-none position-absolute">
                  <%= image_tag("button-ajax-loader.gif", alt: "loader image") %>
                </i>
                <button id="btn-continue" type="button" class="btn-back1 py-2 btn btn-success btn-lg nextStep" >Send Me A Sim</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


