<!-- Form -->
<div class="modal fade" id="deal-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content deal-form-box">
      <div class="modal-header">
         <h1 id="ModalCenterTitle" class="mx-auto"><span class="text-lite">Order</span><span class="text-dark-blue"> your free SIM  </span><span class="text-lite"> to get started</span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
          <p class="text-lite text-center">Your SIM will arrive in the post within 2 working days, and comes in 3 sizes to fit any phone. Once you’ve got it, you just need to activate it.</p>
          <div class="progress d-none mb-5">
            <div class="progress-bar w-0" id="progressBar"></div>
          </div>
          <div  class="tab display-none" id="slide2">
            <div class="row justify-content-center">
              <!-- postcode -->
              <div class="form-group col-lg-7  col-12">
                <label class="text-lite">Postcode*</label>
                <div class="w-100 input-group justify-content-center">
                  <input
                  name="postcode"
                  required
                  data-parsley-required="true"
                  data-parsley-required-message="Please Enter Postcode"
                  data-parsley-group="block-0"
                  data-parsley-validapipostcode
                  type="text"
                  class="postcode form-control ignoreStep4"
                  placeholder="Postcode">
                    <button type="button" class="btn btn-success rounded-right left-0r findAddress-btn">Find Address</button>
                </div>
                <div class="postcode-error position-absolute"></div>
              </div>
              <div class="form-group col-lg-7 col-12 property-div display-none">
                <label class="text-lite">Your Property*</label>
                <input type="hidden" name="towncity" class="towncity" >
                <input type="hidden" name="street1" class="street1" >
                <input type="hidden" name="county" class="county" >
                <input type="hidden" name="houseNumber" class="houseNumber" >
                <select
                  id="property"
                  name="property"
                  class="property w-100 form-control ignoreStep4 text-dark"
                  data-parsley-required="true"
                  data-parsley-required-message="Please Select Your property"
                  data-parsley-group="block-0"
                  required>
                </select>
              </div>

              <div class="form-group col-lg-7 col-12 address-div display-none">
                <label class="d-flex justify-content-start  text-black f-25 mb-2">
                  First Line Of Address
                </label>
                <input
                  placeholder="Address"
                  id="address"
                  name="address"
                  class="address form-control ignoreStep4"
                  data-parsley-required="true"
                  data-parsley-required-message="Please Enter Your Address"
                  data-parsley-group="block-0"
                  type="text"
                  >
              </div>
              <div class="custom-checkbox col-lg-7">
                <label class="text-lite">Accept</label>
                <div class="onoffswitch">
                  <input type="hidden" name="c1">
                  <input
                    type="checkbox"
                    name="agree"
                    class="onoffswitch-checkbox approve"
                    id="myonoffswitch"
                    data-parsley-required="true"
                    data-parsley-group="block-0"
                    data-parsley-required-message="Please accept our terms and conditions"
                    >
                  <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
                </div>
                <div class="error-checkbox"></div>
                <%= render 'layouts/common/accept_term_popup'%>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-12 btn-div justify-content-center">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                <i class="lodr but_loader display-none position-absolute">
                  <%= image_tag("button-ajax-loader.gif", alt: "loader image") %>
                </i>
                <button id="btn-continue" type="submit" class="btn-back1 py-2 btn btn-success btn-lg nextStep" >Send me a Sim</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


