<section class="bg-gradient py-md-5 py-4" id="main-banner">
  <div class="container">
    <div class="row p-0 mx-0 w-100 align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6 py-md-4 py-3">
        <div class="main-banner-content">
          <h2 class="text-white mb-4 d-md-block d-none">The Very Best Mobile Phone Deals Guaranteed</h2>
          <ul class="list-unstyled text-white mb-4">
            <li class="fs-22"><i class="fa fa-check-circle mr-3"></i>Fastest Approvals</li>
            <li class="fs-22"><i class="fa fa-check-circle mr-3"></i>Enjoy unlimited data & calls</li>
            <li class="fs-22"><i class="fa fa-check-circle mr-3"></i>You Choose When to pay</li>
            <li class="fs-22"><i class="fa fa-check-circle mr-3"></i>Compare mobile deals from the top UK networks</li>
            <li class="fs-22"><i class="fa fa-check-circle mr-3"></i>Get the best deal on the brands you love</li>
          </ul>
          <div class="text-center text-md-left">
            <a href="#step-form">
              <button class="btn text-uppercase rounded-pill text-white banner-button px-4 open-form">Start Saving Now!</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-md-4 pt-3 px-0 px-md-3">
        <h3 class="text-white text-center mb-4 d-md-none d-block">The Very Best Mobile Phone Deals Guaranteed</h3>
        <%= render 'layouts/hq/step-form'%>
      </div>
    </div>
  </div>
</section>
