<section class="p-md-5 px-3 py-5" id="testimonials">
  <div class="wrapper">
    <div class="row mx-0 w-100 p-0 align-items-center justify-content-center">
      <div class="col-12 text-center text-white mb-3">
        <h3 class="fw-bold">Our happy customer's reviews</h3>
        <h5>our visitors' testimonials</h5>
      </div>
      <div class="col-md-4 col-12 text-white mb-3 mt-5">
        <div class=" h-100 rounded-lg">
          <%= video_tag('/video/review1.mp4', controls: true, class:"w-100 h-220 rounded") %>
        </div>
      </div>
      <div class="col-md-4 col-12 text-white mb-3 mt-5">
        <div class=" h-100 rounded-lg">
          <%= video_tag('/video/review2.mp4', controls: true, class:"w-100 h-220 rounded") %>
        </div>
      </div>
    </div>
  </div>
</section>
