<section class=" banner-div-12">
    <div class="container-fluid">
      <a class="open-form text-decoration-none text-reset">
        <div class="row w-100 mx-0">
          <div class="col-lg-6 pb-md-0 pb-3 align-self-center px-0 px-md-3 ml-lg-auto ml-xl-0">
            <div class="card card-body header-deal border-0 px-0 mt-md-3 mb-md-3">
              <div class="promotion subbtn ">Free Upgrade Checker</div>
              <div class="row mx-0 justify-content-center">
                <%= image_tag("phone/iphone-12-blue.png", class: "image-chead pl-3" ) %>
                <div class="text py-2">
                  <h5 class="font-weight-bold pl-2">iPhone 12  </h5>
                  <div class="w-100"></div>
                  <div class="detail-box mt-4">
                    <div class="row align-items-center">
                      <div class="pl-2 col text-center border-right">
                        <h6 class="font-weight-bold mb-0 mt-2 fs-24" >Unlimited</h6>
                        <span class="text-muted fs-14 font-weight-normal">
                          Data
                        </span>
                      </div>
                      <div class="pl-2 col text-center">
                        <h6 class="font-weight-bold mb-0 mt-2 fs-24">All Credit Scores Welcome</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clock"></div>
              </div>
              <div class="row mt-2">
                <div class="col px-4">
                  <button class="btn btn-danger subbtn o-btn py-2 fs-24 w-100">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
</section>
