<div class="bg-tranp rounded-lg shadow-lg py-3 px-2">
  <h4 class="text-colr-green text-center font-weight-bold">It will just take 20 Sec to complete the form</h4>
  <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
    <div  class="">
      <div class="row justify-content-center">
        <div class="form-group col-lg-8 col-12">
          <label>First Name*</label>
          <input
          name="first_name" 
          required
          data-parsley-required="true"
          data-parsley-required-message="Please Enter First Name" data-parsley-pattern-message="First Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
          data-parsley-group="block-0"
          type="text"
          class="first_name form-control hero-input ignoreStep3"
          placeholder="First Name" >
           <i class="validate success fa fa-check-circle"></i>
          <i class="validate error fa fa-times-circle"></i>
        </div>
        <div class="form-group col-lg-8  col-12">
          <label>Last Name*</label>
          <input
          name="last_name"
          required
          data-parsley-required="true"
          data-parsley-required-message="Please Enter Last Name"
          data-parsley-pattern-message="Last Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
          data-parsley-group="block-0"
          type="text"
          class="form-control ignoreStep3 last_name"
          placeholder="Surname" >
           <i class="validate success fa fa-check-circle"></i>
          <i class="validate error fa fa-times-circle"></i>
        </div>
      </div>
    </div>
    <div  class="">
      <div class="row justify-content-center">
        <!-- postcode -->
        <div class="form-group col-lg-8  col-12">
          <label>Postcode*</label>
          <div class="w-100 justify-content-center">
            <input
            name="postcode"
            required
            data-parsley-required="true"
            data-parsley-required-message="Please Enter Postcode"
            data-parsley-validapipostcode
            data-parsley-group="block-0"
            type="text"
            class="postcode form-control ignoreStep4"
            placeholder="Postcode">
            <button type="button" class="btn btn-success rounded-right left-0r findAddress-btn">Find Address</button>
          </div>
          <div class="postcode-error position-absolute"></div>
        </div>

        <div class="form-group col-lg-8 col-12 property-div display-none">
          <label>Your Property*</label>
          <input type="hidden" name="towncity" class="towncity" >
          <input type="hidden" name="street1" class="street1" >
          <input type="hidden" name="county" class="county" >
          <input type="hidden" name="houseNumber" class="houseNumber" >
          <select
            id="property"
            name="property"
            class="property w-100 form-control ignoreStep4 text-dark"
            data-parsley-required="true"
            data-parsley-group="block-0"
            data-parsley-required-message="Please Select Your property"
            required>
          </select>
        </div>

        <div class="form-group col-lg-8 col-12 address-div display-none">
          <label class="d-flex justify-content-start  text-black f-25 mb-2">
            First Line Of Address
          </label>
          <input
            placeholder="Address"
            id="address"
            name="address"
            class="address form-control ignoreStep4"
            data-parsley-required="true"
            data-parsley-group="block-0"
            data-parsley-required-message="Please Enter Your Address"
            type="text"
            >
        </div>
      </div>
    </div>
    <div  class="">
      <div class="row justify-content-center">
        <div class="form-group  mb-3  col-lg-8 phone-div">
          <label class="w-100">Mobile Number*</label>
          <input
          type="number"
          name="telephone"
          required
          data-parsley-required="true"
          data-parsley-required-message="Please Enter Valid Uk Phone Number"
          data-parsley-type="number"
          data-parsley-validphone
          data-parsley-group="block-0"
          class="form-control phone telephone"
          placeholder="Mobile Number">
          <i class="validate success fa fa-check-circle"></i>
          <i class="validate error fa fa-times-circle"></i>
        </div>
        <div class="form-group mb-3  col-lg-8 email-div">
          <label class="w-100">Email Address*</label>
          <div class="clearfix"></div>
          <input
          type="email"
          name="email"
          required
          data-parsley-required="true"
          data-parsley-required-message="Please Enter Valid Email Address"
          data-parsley-type="email"
          data-parsley-type-message="Please Enter Valid Email Address"
          data-parsley-validemail
          data-parsley-group="block-0"
          value=""
          class="form-control nme_inpu email"
          placeholder="Email Address">
          <i class="validate success fa fa-check-circle"></i>
          <i class="validate error fa fa-times-circle"></i>
        </div>
        <div class="custom-checkbox col-lg-8">
          <label>Accept</label>
          <div class="onoffswitch">
            <input type="hidden" name="c1">
            <input
              type="checkbox"
              name="agree"
              class="onoffswitch-checkbox approve"
              id="myonoffswitch"
              data-parsley-required="true"
              data-parsley-group="block-0"
              data-parsley-required-message="Please accept our terms and conditions"
              >
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <div class="error-checkbox text-center"></div>
          <%= render 'layouts/common/accept_term_popup'%>
        </div>
      </div>
    </div>
    <div class="row w-100 mx-0 justify-content-center py-3">
      <button class="btn green-btn font-weight-bold w-75 text-white btn-deal-iphone" type="button">Get Deal Now</button>
    </div>
    <div class="mt-2 text-center securityInfo">
      <ul>
        <li>
        <%= image_tag("lock.png", alt: "privacy lock") %>
        </li>
        <li>Safe</li>
        <li>Secure</li>
        <li>Privacy Protected</li>
      </ul>
    </div>
  </form>
</div>