<%= javascript_pack_tag 'policies', 'data-turbolinks-track': 'reload', defer: true %>
<div class="bg-white bg-img-non">
  <%= render 'layouts/sp-exit/header' %>
  <div class="content" data-page="cookie">
    <div class="container animation-container">
      <div class="animation-div animated-background mt-5 rounded-lg"></div>
      <div class="animation-div1 animated-background mt-5 rounded-lg"></div>
      <div class="animation-div1 animated-background mt-3 rounded-lg"></div>
      <div class="animation-div2 animated-background mt-3 rounded-lg"></div>
      <div class="animation-div3 animated-background mt-4 rounded-lg"></div>
      <div class="animation-div4 animated-background mt-3 rounded-lg"></div>
      <div class="animation-div2 animated-background mt-5 rounded-lg"></div>
      <div class="animation-div1 animated-background mt-4 rounded-lg"></div>
      <div class="animation-div1 animated-background mt-3 rounded-lg"></div>
      <div class="animation-div2 animated-background mt-3 rounded-lg"></div>
      <div class="animation-div3 animated-background mt-4 rounded-lg"></div>
    </div>
  </div>
  <div class="border-top">
  <%= render 'layouts/common/footer' %>
  </div>
</div>