<%= javascript_pack_tag 'policies', 'data-turbolinks-track': 'reload', defer: true %>
<div class="bg-white bg-img-non">
  <%= render 'layouts/sp-exit/header' %>
  <div class="content" data-page="cookie"></div>
  <div class="border-top">
  <%= render 'layouts/common/footer' %>
  </div>
</div>