<%= javascript_pack_tag 'credit_check' %>

<div class="credit-check w-100 bg-light form-page">
  <div class="modal-dialog modal-dialog-centered modal-lg my-0" role="document">
    <div class="modal-content deal-form-box border-0 shadow-none bg-light">
      <div class="modal-header">
        <h1><span class="text-blue">You are just</span> 30 seconds <span class="text-blue"> away from your dream phone</span></h1>
      </div>
      <div class="container modal-body">
        <form class="form" id="cc-form" data-details="<%= @details %>" method="post" action="javascript:;">
          <div id="accordion">

            <div class="tab shadow" id="0">
              <div class="card my-3 border-col">
                <div class="card-header cursor-p bg-white" id="deals">
                  <h5 class="mb-0">
                    <div class="accordion-title  btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#deal_options" aria-expanded="false" aria-controls="#deal_options">
                      <div>
                        <span>Deal</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="deal_options" class="pb-0 collapse show"
                  aria-labelledby="deals"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> What deal do you want?</label>
                    <div class="d-flex justify-content-center flex-wrap">
                      <div class="w-xs-100 w-sm-50 w-md-25 p-1" >
                        <input
                        name="deal"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the deal"
                        data-parsley-group="block-0"
                        id="sim"
                        type="radio"
                        class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                        value="sim"
                        >
                        <label
                          for="sim"
                          class="input-radio cursor-p text-center text-col p-2">
                          Sim
                        </label>
                      </div>
                      <div class="w-xs-100 w-sm-50 w-md-25 p-1" >
                        <input
                        name="deal"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the deal"
                        data-parsley-group="block-0"
                        id="handset"
                        type="radio"
                        class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                        value="handset"
                        >
                        <label
                          for="handset"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Handset
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="1">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="age">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#dob" aria-expanded="true"
                    aria-controls="#dob">
                      <div>
                        <span>Age</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="dob" class="pb-0 collapse show"
                  aria-labelledby="age"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Select your birth year
                    </label>
                    <div class="w-xs-100 w-md-50 mx-auto">
                      <select
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      data-parsley-group="block-1"
                      id="dob"
                      class="select-field cursor-p form-control text-col"

                      >
                        <option selected="selected" disabled="">Select</option>
                        <option value="full time"> more than 1998 </option>
                        <% for i in 1950..1997 do%>
                          <option><%= i %> </option>
                        <%end%>
                      </select>
                    </div>
                    <div class="row justify-content-center">
                      <input data-target="#dob" type="button" name="next-btn" class="btn back-color mt-4 px-5 rounded-pill step text-white font-weight-bold" value="NEXT">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="2">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="network">
                  <h5 class="mb-0">
                    <div type="button" class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#net" aria-expanded="true"
                    aria-controls="#net">
                      <div>
                        <span>Network</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="net" class="collapse show"
                  aria-labelledby="network"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Select your current network</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                        <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                          <input
                            name="network"
                            required
                            data-parsley-required="true"
                            data-parsley-required-message="Please select one of the network"
                            data-parsley-group="block-2"
                            id="o2"
                            type="radio"
                            class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                            value="o2"
                          >
                          <label for="o2"
                            class="input-radio  cursor-p text-center text-col p-2">
                            O2
                          </label>
                        </div>
                        <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                          <input
                            name="network"
                            required
                            data-parsley-required="true"
                            data-parsley-required-message="Please select one of the network"
                            data-parsley-group="block-2"
                            type="radio"
                            class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                            id="vodafone"
                            value="vodafone">
                          <label for="vodafone"
                            class="input-radio  cursor-p text-center text-col p-2">
                            Vodafone
                          </label>
                        </div>
                        <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                          <input
                            name="network"
                            required
                            data-parsley-required="true"
                            data-parsley-required-message="Please select one of the network"
                            data-parsley-group="block-2"
                            type="radio"
                            class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                            id="three"
                            value="three">
                          <label for="three"
                            class="input-radio  cursor-p text-center text-col p-2">
                            three
                          </label>
                        </div>
                        <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                          <input
                            name="network"
                            required
                            data-parsley-required="true"
                            data-parsley-required-message="Please select one of the network"
                            data-parsley-group="block-2"
                            type="radio"
                            class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                            id="EE"
                            value="EE"
                          >
                          <label for="EE"
                            class="input-radio  cursor-p text-center text-col p-2">
                             EE
                          </label>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="3">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="employment-status">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#employed" aria-expanded="true"
                    aria-controls="#employed">
                      <div>
                        <span>Employment status</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="employed" class="collapse show"
                  aria-labelledby="employment-status"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Your employment status</label>
                    <div class="w-xs-100 w-md-50 mx-auto">
                      <select
                        name="employment"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the option"
                        data-parsley-group="block-3"
                        class="select-field cursor-p form-control text-col">
                        <option selected="selected" value="" disabled="">Select</option>
                        <option value="full time"> full time </option>
                        <option value="self employed"> self employed</option>
                        <option value="part time"> part time  </option>
                        <option value="student"> student </option>
                        <option value="unemployed"> unemployed </option>
                      </select>
                    </div>
                    <div class="row justify-content-center">
                      <input data-target="#dob" type="button" name="next-btn" class="btn back-color mt-4 px-5 text-white font-weight-bold rounded-pill step" value="NEXT">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="4">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="monthly-income">
                  <h5 class="mb-0">
                    <div type="button" class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#income" aria-expanded="true"
                    aria-controls="#income">
                      <div>
                        <span>Income</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="income" class="pb-0 collapse show"
                  aria-labelledby="monthly-income"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Net monthly income</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="income"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-4"
                          id="income-1000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="income Upto £1000"
                        >
                        <label for="income-1000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £1000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="income"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-4"
                          id="income-2000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="income Upto £2000"
                        >
                        <label for="income-2000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £2000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="income"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-4"
                          id="income-4000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="income Upto £4000"
                        >
                        <label for="income-4000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £4000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="income"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-4"
                          id="income-4000+"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="income above £4000"
                        >
                        <label for="income-4000+"
                          class="input-radio  cursor-p text-center text-col p-2">
                          £4000+
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="5">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="food">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#foody" aria-expanded="true"
                    aria-controls="#foody">
                      <div>
                        <span>food</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="foody" class="pb-0 collapse show"
                  aria-labelledby="food"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Your food expenditures</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="food"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-5"
                          id="food-500"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="food Upto £500"
                        >
                        <label for="food-500"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £500
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="food"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-5"
                          id="food-1000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="food Upto £1000"
                        >
                        <label for="food-1000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £1000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="food"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-5"
                          id="food-2000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="food Upto £2000"
                        >
                        <label for="food-2000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £2000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="food"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-5"
                          id="food-2000+"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value=" food above £2000"
                        >
                        <label for="food-2000+"
                          class="input-radio  cursor-p text-center text-col p-2">
                          £2000+
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="6">
              <div class="card border-col my-3  d-none">
                <div id="transport" class="card-header cursor-p bg-white" >
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#vehicle" aria-expanded="true"
                    aria-controls="#vehicle">
                      <div>
                        <span>Transport</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="vehicle" class="collapse show"
                  aria-labelledby="transport"
                  data-parent="#accordion" >
                  <div class="card-body">
                    <label class="text-center"> Your transport expenditures</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="transport"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-6"
                          id="tr-500"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="transport Upto £500"
                        >
                        <label for="tr-500"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £500
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="transport"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-6"
                          id="tr-1000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="transport Upto £1000"
                        >
                        <label for="tr-1000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £1000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="transport"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-6"
                          id="tr-2000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="transport Upto £2000"
                        >
                        <label for="tr-2000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £2000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="transport"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-6"
                          id="tr-2000+"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="transport above £2000"
                        >
                        <label for="tr-2000+"
                          class="input-radio  cursor-p text-center text-col p-2">
                          £2000+
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="7">
              <div class="card border-col my-3 d-none">
                <div id="bills" class="card-header cursor-p bg-white">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#utility-bills" aria-expanded="true"
                    aria-controls="#utility-bills">
                      <div>
                        <span>Utility bills</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="utility-bills" class="collapse show"
                  aria-labelledby="bills"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Your utility bills expenditures</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="bills"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-7"
                          id="bill-500"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="bills Upto £500"
                        >
                        <label for="bill-500"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £500
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="bills"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-7"
                          id="bill-1000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="bills Upto £1000"
                        >
                        <label for="bill-1000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £1000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="bills"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-7"
                          id="bill-2000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="bills Upto £1500"
                        >
                        <label for="bill-2000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £2000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="bills"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-7"
                          id="bill-2000+"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="bills above £2000"
                        >
                        <label for="bill-2000+"
                          class="input-radio  cursor-p text-center text-col p-2">
                          £2000+
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="8">
              <div class="border-col card my-3 d-none">
                <div id="others" class="card-header cursor-p bg-white">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#other" aria-expanded="true"
                    aria-controls="#other">
                      <div>
                        <span>others</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="other" class="pb-0 collapse show"
                  aria-labelledby="others"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Your other expenditures</label>
                    <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="expenditures"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-8"
                          id="exp-500"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="others Upto £500"
                        >
                        <label for="exp-500"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £500
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="expenditures"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-8"
                          id="exp-1000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="others Upto £1000"
                        >
                        <label for="exp-1000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £1000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="expenditures"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-8"
                          id="exp-2000"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="others Upto £2000"
                        >
                        <label for="exp-2000"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Upto £2000
                        </label>
                      </div>
                      <div class="w-xs-100 w-md-50 w-sm-50 p-1" >
                        <input
                          name="expenditures"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-8"
                          id="exp-2000+"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="others above £2000"
                        >
                        <label for="exp-2000+"
                          class="input-radio  cursor-p text-center text-col p-2">
                          £2000+
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
