<%= javascript_pack_tag 'credit_check' %>

<div class="credit-check w-100 bg-light form-page">
  <div class="modal-dialog modal-dialog-centered modal-lg my-0" role="document">
    <div class="modal-content deal-form-box border-0 shadow-none bg-light">
      <div class="modal-header">
        <h1><span class="text-blue">You are just</span> 30 seconds <span class="text-blue"> away from your dream phone</span></h1>
      </div>
      <div class="container modal-body">
        <form class="form" id="cc-form" data-details="<%= @details %>" method="post" action="javascript:;">
          <div id="accordion">

            <div class="tab shadow" id="0">
              <div class="card my-3 border-col">
                <div class="card-header cursor-p bg-white" id="deals">
                  <h5 class="mb-0">
                    <div class="accordion-title  btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#deal_options" aria-expanded="false" aria-controls="#deal_options">
                      <div>
                        <span>Deal</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="deal_options" class="pb-0 collapse show"
                  aria-labelledby="deals"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> What deal do you want?</label>
                    <div class="d-flex justify-content-center flex-wrap">
                      <div class="w-sm-100 w-md-25 p-1" >
                        <input
                        name="deal"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the deal"
                        data-parsley-group="block-0"
                        id="sim"
                        type="radio"
                        class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                        value="sim"
                        >
                        <label
                          for="sim"
                          class="input-radio cursor-p text-center text-col p-2">
                          Sim
                        </label>
                      </div>
                      <div class="w-sm-100 w-md-25 p-1" >
                        <input
                        name="deal"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the deal"
                        data-parsley-group="block-0"
                        id="handset"
                        type="radio"
                        class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                        value="handset"
                        >
                        <label
                          for="handset"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Handset
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="1">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="age">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#dob" aria-expanded="true"
                     aria-controls="#dob">
                      <div>
                        <span>Age</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div
                  id="dob" class="pb-0 collapse show"
                  aria-labelledby="age"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Select your birth year
                    </label>
                    <div class="w-sm-100 w-md-50 mx-auto">
                      <input required
                       data-parsley-required="true"
                       data-parsley-required-message="Please select your age"
                       data-parsley-group="block-1"
                       type="date"
                       id="dob"
                       name="birthday"
                       class="form-control text-col select-field collapse show"
                       >
                    </div>
                    <div class="row justify-content-center">
                      <input data-target="#dob" type="button" name="next-btn" class="btn back-color mt-4 px-5 rounded-pill step text-white font-weight-bold" value="NEXT">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab shadow" id="2">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="employment-status">
                  <h5 class="mb-0">
                    <div class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#employed" aria-expanded="true"
                    aria-controls="#employed">
                      <div>
                        <span>Employment status</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="employed" class="collapse show"
                  aria-labelledby="employment-status"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Your employment status</label>
                    <div class="w-sm-100 w-md-50 mx-auto">
                      <select
                        name="employment"
                        required
                        data-parsley-required="true"
                        data-parsley-required-message="Please select one of the option"
                        data-parsley-group="block-2"
                        class="select-field cursor-p form-control text-col">
                        <option selected="selected" value="" disabled="">Select</option>
                        <option value="full time"> full time employed </option>
                        <option value="part time"> part time employed  </option>
                        <option value="self employed"> self employed</option>
                        <option value="unemployed"> unemployed </option>
                        <option value="pension"> pension </option>
                        <option value="benefits"> benefits </option>
                        <option value="student"> student </option>
                      </select>
                    </div>
                    <div class="row justify-content-center">
                      <input data-target="#dob" type="button" name="next-btn" class="btn back-color mt-4 px-5 text-white font-weight-bold rounded-pill step" value="NEXT">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab shadow" id="3">
              <div class="card my-3 border-col d-none">
                <div class="card-header cursor-p bg-white" id="residential-status">
                  <h5 class="mb-0">
                    <div type="button" class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#residence-status" aria-expanded="true"
                    aria-controls="#residence-status">
                      <div>
                        <span>Residentail Status</span>
                      </div>
                      <div>
                        <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
                      </div>
                    </div>
                  </h5>
                </div>
                <div id="residence-status" class="pb-0 collapse show"
                  aria-labelledby="residential-status"
                  data-parent="#accordion">
                  <div class="card-body">
                    <label class="text-center"> Residential Status</label>
                    <div class="d-flex mx-auto flex-wrap justify-content-center">
                      <div class="w-sm-100 w-md-50 p-1" >
                        <input
                          name="residential-status"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-3"
                          id="tenent"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="tenent"
                        >
                        <label for="tenent"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Tenent
                        </label>
                      </div>
                      <div class="w-sm-100 w-md-50 p-1" >
                        <input
                          name="residential-status"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-3"
                          id="council-tenent"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="council tenent"
                        >
                        <label for="council-tenent"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Council Tenent
                        </label>
                      </div>
                      <div class="w-sm-100 w-md-50 p-1" >
                        <input
                          name="residential-status"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-3"
                          id="home-owner"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="home owner"
                        >
                        <label for="home-owner"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Home Owner
                        </label>
                      </div>
                      <div class="w-sm-100 w-md-50 p-1" >
                        <input
                          name="residential-status"
                          required
                          data-parsley-required="true"
                          data-parsley-required-message="Please select one of the option"
                          data-parsley-group="block-3"
                          id="living-with-parents"
                          type="radio"
                          class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                          value="living with parents"
                        >
                        <label for="living-with-parents"
                          class="input-radio  cursor-p text-center text-col p-2">
                          Living with Parents
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% number_field_params.each do |number_field_param| %>
              <%= render 'pages/credit_check/common_number_field',
                number_field_param
              %>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
