<%= javascript_pack_tag 'step_form', 'data-turbolinks-track': 'reload', defer: true %>
<div class="credit-check bg-white form-page">
  <div class="modal-dialog modal-dialog-centered modal-lg my-0" role="document">
    <div class="modal-content deal-form-box">
      <div class="modal-header">
        <h1><span class="text-blue">You are just</span> 30 seconds <span class="text-blue"> away from your dream phone</span></h1>
      </div>
      <div class="modal-body" style="z-index: 1 !important">
        <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
          <div class="tab">
            <div class="row justify-content-center">
              <div class="form-group col-lg-7 col-sm-7 col-12">
                <label>What deal do you want?</label>
                <div class="d-flex">
                  <div class="w-50 p-1">
                    <input
                    name="deal"
                    required
                    data-parsley-required="true"
                    data-parsley-required-message="Please select one of the deal"
                    id="sim"
                    type="radio"
                    class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                    value="sim"
                    >
                    <label
                      for="sim"
                      class="input-radio rounded py-1 px-2 cursor-p text-center text-col h-75">
                      Sim
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                    name="deal"
                    required
                    data-parsley-required="true"
                    data-parsley-required-message="Please select one of the deal"
                    id="handset"
                    type="radio"
                    class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                    value="handset"
                    >
                    <label
                      for="handset"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Handset
                    </label>
                  </div>
                </div>
                <br>
                <div>
                  <div class="field form-group">
                    <label>Select your birth year</label>
                    <select
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      class="select-field w-100 form-control text-col"
                    >
                     <option selected="selected" value="" disabled="">Select</option>
                    <option value="full time"> less than 1998 </option>
                    <% for i in 1998..2020 do%>
                      <option value="full time"><%= i %> </option>
                    <%end%>

                    </select>
                  </div>
                </div>
                <br>
                <label>
                  Select your Current Network
                </label>
                <div class="d-flex flex-wrap">
                  <div class="w-50 p-1">
                    <input
                      name="network"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the network"
                      id="o2"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="o2"
                    >
                    <label for="o2"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      O2
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="network"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the network"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      id="vodafone"
                      value="vodafone">
                    <label for="vodafone"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Vodafone
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="network"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the network"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      id="three"
                      value="three">
                    <label for="three"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      three
                    </label>
                  </div>
                   <div class="w-50 p-1">
                    <input
                      name="network"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the network"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      id="EE"
                      value="EE">
                    <label for="EE"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      EE
                    </label>
                  </div>
                </div>
                <br>
                <div>
                  <label class="h5 form-group f-25 text-left w-100 mb-1">Your employment status</label>
                  <select
                    name="employment"
                    required
                    data-parsley-required="true"
                    data-parsley-required-message="Please select one of the option"
                    class="select-field w-100 form-control text-col">
                    <option selected="selected" value="" disabled="">Select</option>
                    <option value="full time"> full time </option>
                    <option value="self employed"> self employed</option>
                    <option value="part time"> part time  </option>
                    <option value="student"> student </option>
                    <option value="unemployed"> unemployed </option>
                  </select>
                </div>
                <br>
                <label>Net monthly income</label>
                <div class="d-flex flex-wrap">
                  <div class="w-50 p-1">
                    <input
                      name="income"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="income-1000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £1000"
                    >
                    <label for="income-1000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £1000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="income"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="income-2000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £2000"
                    >
                    <label for="income-2000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £2000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="income"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="income-4000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £4000"
                    >
                    <label for="income-4000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £4000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="income"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="income-4000+"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="£4000+"
                    >
                    <label for="income-4000+"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      £4000+
                    </label>
                  </div>
                </div>
                <br>
                <div class="d-flex flex-wrap">
                  <label>Food</label>
                  <div class="w-50 p-1">
                    <input
                      name="food"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="food-500"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £500"
                    >
                    <label for="food-500"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £500
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="food"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="food-1000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £1000"
                    >
                    <label for="food-1000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £1000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="food"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="food-2000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £2000"
                    >
                    <label for="food-2000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £2000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="food"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="food-2000+"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="£2000+"
                    >
                    <label for="food-2000+"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      £2000+
                    </label>
                  </div>
                </div>
                <br>
                <div class="d-flex flex-wrap">
                  <label>Transport</label>
                  <div class="w-50 p-1">
                    <input
                      name="transport"
                      id="tr-500"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £500"
                    >
                    <label for="tr-500"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £500
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="transport"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="tr-1000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £1000"
                    >
                    <label for="tr-1000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £1000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="transport"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="tr-2000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £2000"
                    >
                    <label for="tr-2000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £2000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="transport"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="tr-2000+"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="£2000+"
                    >
                    <label for="tr-2000+"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      £2000+
                    </label>
                  </div>
                </div>
                <br>
                <div class="d-flex flex-wrap">
                  <label>Utility bills</label>
                  <div class="w-50 p-1">
                    <input
                      name="bills"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="bill-500"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £500"
                    >
                    <label for="bill-5"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £500
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="bills"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="bill-1000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £1000"
                    >
                    <label for="bill-1000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £1000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="bills"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="bill-2000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £2000"
                    >
                    <label for="bill-2000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £2000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="bills"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="bill-2000+"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="£2000+"
                    >
                    <label for="bill-2000+"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      £2000+
                    </label>
                  </div>
                </div>
                <br>
                <div class="d-flex flex-wrap">
                  <label>Other Expenditures</label>
                  <div class="w-50 p-1">
                    <input
                      name="expenditures"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="exp-500"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £500"
                    >
                    <label for="exp-500"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £500
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="expenditures"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="exp-1000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £1000"
                    >
                    <label for="exp-1000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £1000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="expenditures"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="exp-2000"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="Upto £2000"
                    >
                    <label for="exp-2000"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      Upto £2000
                    </label>
                  </div>
                  <div class="w-50 p-1">
                    <input
                      name="expenditures"
                      required
                      data-parsley-required="true"
                      data-parsley-required-message="Please select one of the option"
                      id="exp-2000+"
                      type="radio"
                      class="opacity-0 cursor-p form-control position-absolute input-tag-radio"
                      value="£2000+"
                    >
                    <label for="exp-2000+"
                      class="input-radio rounded px-2 py-1 cursor-p text-center text-col h-75">
                      £2000+
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-sm-7 col-12 btn-div justify-content-center">
            <div class="row justify-content-center">
              <div class="col text-center">
                <button id="btn-continue" type="button" class="btn btn-success btn-lg o-btn" >Continue</button>
              </div>
            </div>
          </div>
          <div class="mt-2 text-center securityInfo">
            <ul>
              <img src="/assets/lock-46d22d5fc8e1d3dd250a250f817cf2a92527961daab35e55bcd130bc72dda382.png">
              <li>Safe</li>
              <li>Secure</li>
              <li>Privacy Protected</li>
            </ul>
          </div>
          <%= render 'layouts/common/form_network_logo'%>
        </form>
      </div>
    </div>
  </div>
</div>
