<%= javascript_pack_tag 'common', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div class="bg-img-success">
  <div class="container">
    <div class="row w-100 mx-0 pt-5">
      <div class="col-md-8 mx-auto text-center">
        <div class="bg-secondary rounded py-5 px-md-4 px-2">
          <h1 class="fs-md-36 text-white pt-3"><span class="text-warning">Sorry, </span> We are not able to help you at the moment</h1>
          <h5 class="fs-md-17 text-white text-decoration-none">If you want a no credit check mobile offer then "Sunshine Mobile" may be able to help</h5>
          <a href="https://mtrk11.co.uk/?a=14118&c=33110" class="text-decoration-none">
            <button class="btn btn-warning font-weight-bold fs-30 fs-md-17 p-4">Continue To Sunshine Mobile</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>
<%= render 'layouts/common/data_share_iframes' %>
