<%= javascript_pack_tag 'common', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div class="bg-img-success">
  <div class="container">
    <div class="row w-100 mx-0 pt-5">
      <div class="col-md-8 mx-auto text-center">
        <div class="bg-secondary rounded py-5 px-md-4 px-2">
          <i class="fs-185 text-white fa fa-check-circle"></i>
          <h1 class="fs-md-36 fs-60 text-white pt-3">Thank You</h1>
          <h5 class="fs-md-17 text-white text-decoration-none">EE Mobile will call you from 0203 318 8925 to discuss your deal.</h5>
          <h5 class="fs-md-17 text-white">The device you are interested in is <span class="text-warning font-weight-bold"><%= params[:device] %></span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>