<%= javascript_pack_tag 'exclusive_ee_deals', 'data-turbolinks-track': 'reload', defer: true %>
<div class="bg-white">
  <header class="container row w-100 m-auto align-items-center justify-content-center py-3">
    <%= image_tag("logo.png", class: "head-logo" ) %>
  </header>
</div>
<div class="background-header">
</div>
<div class="bg-white">
  <div class="mx-md-5 mx-2">
    <div class="row align-items-start m-0 w-100 pt-4">
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="bg-light-jam p-3 rounded">
          <div class="row m-0 justify-content-between w-100">
            <div class="position-relative mt-2 mt-md-0 input-div"> 
              <input
              name="deals-type"
              class="opacity-0 deals-type cursor-p form-control position-absolute input-tag-radio"
              id="phone-deals"
              type="radio"
              value="phone-deals">
              <label for="phone-deals" class="input-radio p-2 mx-auto cursor-p">
                <i class="fas fa-mobile-alt mr-2"></i>Phone deals
              </label>
            </div>
            <div class="position-relative mt-2 mt-md-0 input-div"> 
              <input
              name="deals-type"
              class="opacity-0 deals-type cursor-p form-control position-absolute input-tag-radio"
              id="sim-deals"
              type="radio"
              value="sim-deals">
              <label for="sim-deals" class="input-radio p-2 mx-auto cursor-p mb-0">
                <i class="fas fa-sim-card mr-2"></i>SIM deals
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-9">
        <% @products.each do |product| %>
          <div class="row w-100 m-0 bg-light-jam rounded p-3 mb-3">
            <div class="row w-100 align-items-center justify-content-md-start justify-content-center pl-md-5">
              <h5 class="mb-2 mb-md-0 text-jam font-weight-bold">iPhone X black</h5>
            </div>
            <div class="col-md-3 text-center">
              <%= image_tag(product[:img], class: "", width: "50" ) %>
              <%= image_tag("company/ee.png", class: "", width: "20" ) %>
            </div>
            <div class="col-md-5">
              <div class="row w-100 m-0">
                <div class="col-6 px-0">
                  <p class="m-0"><strong><% product[:upfront] %> Upfront</strong></p>
                  <p class="m-0"><strong><% product[:monthly_cost] %></strong> Monthly</p>
                  <ul class="list-unstyled">
                    <li class="d-flex align-items-center">
                      <i class="fas fa-check text-jam mr-1"></i>
                      <p class="m-0">Free Delivery</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="fas fa-check text-jam mr-1"></i>
                      <p class="m-0"><% product[:contract] %> Contract</p>
                    </li>
                  </ul>
                </div>
                <div class="col-6 px-2">
                  <p class="m-0"> <strong class="data"><% product[:data] %></strong> Data</p>
                  <p class="m-0"> <strong class="calls"><% product[:calls] %></strong> Call</p>
                  <p class="m-0"> <strong class="texts"><% product[:text] %></strong> Text</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <button class="btn btn-deal text-white font-weight-bold w-100">Get Deal</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>