<div class="bg-white">
  <header class="container row w-100 m-auto align-items-center justify-content-md-around justify-content-between py-3">
    <%= image_tag("logo.png", class: "head-logo" ) %>
  </header>
</div>
<div class="font-cabin img-wrapper">
  <%= image_tag("compare/banner.jpg", class: "img" ) %>
</div>