<div class="exclusive-deals">
  <div class="bg-blue-banner">
    <div class="row header-banner w-100 mx-0">
      <div class="col-6 align-self-center text-center">
        <h2>
          Get iPhone 12 Pro
        </h2>
        <p >
          With double data. 2GB instead of 1GB, from £48* a month, £30 upfront.
        </p>
        <button type="button" class="btn btn-warning">
          Get Your Deal Now!
        </button>
      </div>
      <div class="col-6">
        <div style="width:70%; height: 100%" class="mx-auto">
          <%= image_tag "iPhone12Pro.png", class: 'w-100 h-100'%>
        </div>
      </div>
    </div>
  </div>
  <div class="ultra-bg">
    <div class="row fold-banner flex-row-reverse pt-5 pb-3 w-100 mx-0">
      <div class="col-6 align-self-center text-center">
        <h2>
          Meet the new Z Flip3 and Z Fold3
        </h2>
        <p >
          And, get up to £530 when you trade in a Samsung Galaxy device.
        </p>
        <button type="button" class="btn btn-outline-warning">
          Get Your Deal Now!
        </button>
      </div>
      <div class="col-6">
        <div style="width:90%; height: 100%" class="mx-auto">
          <%= image_tag "galaxy-fold.png", class: 'w-100 h-100'%>
        </div>
      </div>
    </div>
  </div>
  <div class="row ultra-banner pt-5 w-100 mx-0">
    <div class="col-6 align-self-center text-center">
      <h2>
        Galaxy S21 Ultra 5G
      </h2>
      <p >
        And, get up to £530 when you trade in a Samsung Galaxy device.
      </p>
      <button type="button" class="btn btn-outline-warning">
        Get Your Deal Now!
      </button>
    </div>
    <div class="col-6">
      <div style="width:60%; height: 100%" class="mx-auto">
        <%= image_tag "s21-ultra.png", class: 'w-100 h-100'%>
      </div>
    </div>
  </div>
</div>
