<%= render 'layouts/sp-exit/header' %>
<div class="bg-light pt-5">
  <div class="container">
    <div class="row w-100 m-0 align-items-center">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-9">
        <div class="bg-white shadow-sm rounded-lg">
          <div class="row w-100 m-0 py-3">
            <div class="col-md-3 text-center align-self-center">
              <p class="bg-light py-1 mb-2">Exclusive Deal</p>
              <%= image_tag("new-sims/100gb.png", class: "", width: "80" ) %>
            </div>
            <div class="col-md-3 align-self-center">
              <p class="mb-1">2GB Data</p>
              <p class="mb-1">Unlimited Minutes</p>
              <p class="mb-1">Unlimited Texts</p>
            </div>
            <div class="col-md-3 align-self-center">
              <h5 class="m-0 text-danger fw-400"><span class="font-weight-bold">£6.00</span> A MONTH </h5>
              <h6 class="m-0"> <span class="font-weight-bold">12</span> month contract</h6>
              <p>Greate uk covarage</p>
            </div>
            <div class="col-md-3 text-center align-self-center">
              <%= image_tag("company/02.png", class: "mb-2", width: "60" ) %>
              <button type="button" class="btn btn-success px-3 btn-offers">GET OFFER</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>