<div class="voxi-form bg-white">
  <div class="container">
    <form class="rounded shadow px-5 py-5">
      <div class="form-group col-6 mx-auto">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="Enter First Name">
      </div>
      <div class="form-group col-6 mx-auto">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Enter Last Name">
      </div>
      <div class="form-group col-6 mx-auto">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group col-6 mx-auto">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
      </div>
      <div class="form-group col-6 mx-auto form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to voxi terms and conditions</label>
      </div>
      <div class="submit-div">
        <button type="submit" class="btn btn-primary col-4">Send me a Sim</button>
      </div>
    </form>
  </div>
</div>
