<div class="modal2 popup h-zindex" id="terms-model">
  <div class="modal2-dialog mx-auto" role="document">
    <div class="modal2-content">
      <div class="d-flex align-items-center justify-content-end">
          <span class="close-b" aria-hidden="true">&times;</span>
      </div>
      <div class="modal2-body">
        <div class="content text-left" data-page="terms"></div>
      </div>
    </div>
  </div>
</div>