<%= javascript_pack_tag 'policies', 'data-turbolinks-track': 'reload', defer: true %>
<div class="modal3 popup" id="privacy-model">
  <div class="modal3-dialog mx-auto" role="document">
    <div class="modal3-content px-md-3 px-0">
      <div class="d-flex align-items-center justify-content-end">
        <span class="close-bu" aria-hidden="true">&times;</span>
      </div>
      <div class="modal3-body">
        <div class="content text-left" data-page="privacy"></div>
      </div>
    </div>
  </div>
</div>