<div id="loaderPopup" class="overlay">
  <div class="overlay-content">
    <div class="container px-md-3 px-0">
      <div class="row w-100 m-0 align-items-center">
        <div class="col-md-6">
          <h3 class="my-2 fs-md-23">PLEASE DO NOT REFRESH OR CLOSE YOUR BROWSER</h3>
          <p>We know it can be boring. But it won't take long. Pinkey Swear ! </p>
          <h4 class="text-gree">
            TAKE A CHILL PILL
          </h4>
        </div>
        <div class="col-md-6 px-0">
          <%= image_tag("waiting.gif", class: "maxw-100") %>
        </div>
      </div>
    </div>
    <div class="bg-greenf footer">
      <div class="container">
      <h5 class="w-100 mx-auto mb-0">YOU WILL BE REDIRECTED TO A NEW WEBSITE  WHEN WE HAVE FOUND THE BEST DEAL FOR YOU</h5>
      </div>
    </div>
  </div>
</div>
