<div class="form-group">
  <input type="number"
    name="<%= name %>"
    required
    data-parsley-required="true"
    data-parsley-required-message="Please Enter the Requested Infomration"
    data-parsley-group="<%= parsley_group %>"
    class="text-col form-control"
    placeholder="Enter Information Here"
  >
</div>
