$background-gradient: linear-gradient(to right, #f46c22 10%, #2ea7f8 25%, #f09838 100%);
$primary-color: #33a6f5;
$secondary-color: #2b3f82;
$red-color: #ff0044;
#cheapest-deals{
  .ribbon span {
    width: 150px;
    height: 34px;
    top: 20px;
    right: -40px;
    position: absolute;
    display: block;
    background: linear-gradient(to right, #f46c22 0%, #f09838 100%) !important;
    color: #333;
    font-family: arial;
    font-size: 18px;
    color:white;
    text-align: center;
    line-height: 34px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
	.bg-header{
		background-image: asset-url("banner-cheap.png");
		background-size: cover;
		background-position: center;
		background-color: $background-gradient;
	}
	.font-cabin{
    font-family: 'Cabin Sketch', cursive !important;
  }
	.gradient{
		background: $background-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.shadow-btn{
		box-shadow: 0.5rem 0.5rem 1rem #00000040 !important;
	}
	.btn-orang{
		background: linear-gradient(to right, #f46c22 0%, #f09838 100%) !important;
    border: 2px solid white !important;
    border-radius: 50px !important;
    font-size: 24px;
    font-weight: 900;
    color: white !important;
	}
	.btn-orang:hover{
		background: white !important;
    border: 2px solid #f46c22 !important;
    color: #f46c22 !important;
	}
	.bg-gradient-clip{
		border-top-left-radius: 10px;
		height: 330px;
		background-image: linear-gradient(45deg, #f46c22 30%, #2ea7f8 100%);
		clip-path: polygon(0% 0%, 300% 0%, 100% 100%, 0% 63%);
	}
	.deal-phone{
		top: 0;
		border-radius: 10px;
		.exclusive-tag{
			background-color: #ffe600;
			border-radius: 10px;
			border-bottom-right-radius: 0px !important;
			color: black;
			position: absolute;
			top: -20px;
	    right: -1px;
	    padding: 6px 25px;
	    display: flex;
	    align-items: center;
	    justify-content: center;

		}
	}
	.font-sim{
		font-size: 15px !important;
	}
	.networking-partner{
		width: 5%;
	}
	.networking-partner1{
		width: 3%;
	}
	.networking-partner2{
		width: 4%;
	}
	.deal-box{
		border-radius: 15px;
		min-height: 320px;
		background-color: white;
		position: relative;
	}
	.bg-gradient{
		background: $background-gradient;
	}
	.why-icon{
		width: 105px;
	}
	.deal-box2{
		border-radius: 15px;
		min-height: 225px;
		background: white;
	}
	.step-circle{
		width: 45px;
    height: 45px;
    border: 3px solid #f46c22;
    display: flex;
    background-color: white;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 900;
    color: #4eaeec;
	}

	.zoom-effect
	{
    display:inline-block;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.9); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.9); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 200ms ease-in;
    transform: scale(0.9);   

	}
	.zoom-effect:hover
	{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    position: relative;
	}
	.btn-absolute{
		position: absolute;
    right: 50%;
    bottom: 17px;
    transform: translate(50%);
	}
	ul{
		li{
			display: flex;
			i{
				padding-top: 5px;
			}
		}
	}

    .phone-deal{
      height: 450px;
      background-image: linear-gradient(45deg, #273f83 30%, #fa0e44d6 100%);
      clip-path:polygon(0% 0%, 300% 0%, 0% 100%, 0% 100%);
    }
    .phone-img{
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
    }
    .deal-banner-btn{
      background-color: $red-color;
      box-shadow: 0 0.5rem 1rem rgba(255, 0, 68 , 0.33) !important;
    }
    .deal-phone-button{
    	color: #33a6f5;
    	font-size: 17px;
    	font-weight: 700;
      border: 2px solid $primary-color;
      &:hover{
        background: linear-gradient(to right, #f46c22 0%, #f09838 100%) !important;
        border: 2px solid #f09838;
        color: #fff !important;
      }
    }
    .deal-phone-name{
      @media screen and (max-width: 575px){
        height: 40px;
      }
    }
    .sticky-banner{
      top: 20px;
    }
    .deal-phone-img{
      height: 230px;
      img{
        object-fit: contain;
      }
    }
	@media only screen and (max-width: 520px) {
		.networking-partner{
			width: 12%;
		}
		.networking-partner1{
			width: 5%;
		}
		.networking-partner2{
			width: 7%;
		}
		.text-roange{
			color: #f46c22 !important;
			-webkit-text-fill-color: #f46c22 !important;
			background: none;
		}
		.text-blu{
			color: #4eaeec !important;
			-webkit-text-fill-color: #4eaeec !important;
			background: none;
		}
		.step-circle{
	    color: #4eaeec !important;
		}
		.btn-absolute{
			position: relative;
	    transform: inherit;
	    right: auto;
	    bottom: auto;
		}
		.deal-box{
			min-height: auto;
		}
		.deal-box2{
			min-height: auto;
		}
		.head-img{
			width: 100%;
		}
		h3{
			font-size: 22px;
		}
		h2{
			font-size: 24px;
		}
	}
}

.pulse {
  animation: stretch .5s ease-out alternate infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.08);
  }
}
