$base-color: #3ebbe9;
.input-radio{ 
    background-color: white;
    width: 100%;
    border: 1px solid $base-color;
    align-items: center;
    border-radius: 50px !important;
    text-decoration: none;
    color: $base-color;
  }
  .input-radio:hover{
    color: white;
    background-color: $base-color;
    border: 1px solid $base-color;
    text-decoration: none;
  }
  .input-tag-radio:checked ~ .input-radio{
    color: white;
    background-color: $base-color;
    border-color: $base-color !important;
  }
  .input-tag-radio{
    opacity: 0;
    width: 100%;
    height: 55px;
  }
  input:hover ~ .input-radio{
    border: 1px solid $base-color;
    color: white;
    background-color: $base-color;
  }
  input:hover ~ .input-radio:after{
    border: 1px solid $base-color;
  }
  .input-div{
    width: 100%;
  }
  .cursor-p{
    cursor: pointer;
  }
  .label{
    color: #3ebbe9;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 100%;
  }