<!-- Below header section Flipclock -->
<section class="mb-0">
  <div class="below-header pb-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-sm-12 d-flex flex-wrap">

          <% if @bc == true %>
            <h2 class="text-center mb-4">
              <span class="accepted">Get Accepted For The Latest Smartphone Deals!</span>
              <br>
              <span class="approvel desktop">100% approval | All Credit Scores Welcome | No upfront payments</span>
              <span class="approvel mobile">100% approval<br> All Credit Scores Welcome <br> No upfront payments</span>
              <button class="btn btn-danger open-form w-100 d-none btn-b" data-product-id="118">Get Your Deal
                <i class="far fa-arrow-alt-circle-right text-white pl-2"></i>
              </button>
            </h2>

          <% else %>
            <h2 class="text-center mb-4">
              <span class="accepted">Get The UK's Best Deals On The Latest Smartphones!</span>
              <br>
              <span class="approvel desktop">No upfront payments | Network Sign Up Offers | Huge Discounts</span>
              <span class="approvel mobile">No upfront payments <br> Network Sign Up Offers <br> Huge Discounts </span>
              <button class="btn btn-danger open-form w-100 d-none btn-b" data-product-id="118">Get Your Deal
                <i class="far fa-arrow-alt-circle-right text-white pl-2"></i>
              </button>
            </h2>

          <%end%>

          <div class="row align-self-end w-100 mx-0 header-phone-img desktop">
            <%= image_tag("hero-iphone-13.png", class: "open-form w-100 h-100", alt: "Phones header" , 'data-product-id': "118") %>
          </div>
        </div>
        <div class="col-xl-6 col-sm-12 open-form" data-url="/success" data-product-id="118">
          <div class="card card-body header-deal border-0 px-0">
            <div class="row mx-0 w-100 justify-content-center">
              <div id="carouselControls" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex flex-md-nowrap flex-wrap justify-content-md-between justify-content-center w-100">
                      <%= image_tag("phone/apple-iphone-13-pro-max.png", class: "min-h iphone-deals image-phone-clock pl-3 pt-4 img-head-clock", alt: "iPhone 13 Pro Max" ) %>
                      <div class="text py-2">
                        <h5 class="font-weight-bold pl-2">iPhone 13 Pro Max</h5>
                        <div class="w-100"></div>
                        <div class="detail-box mt-md-4">
                          <div class="row align-items-center">
                            <div class="pl-2 col text-center border-right pr-0 pr-md-3">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Unlimited</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data, Minutes,Texts
                              </span>
                            </div>
                            <div class="pl-2 col text-center">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Free</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data Roaming, Personal Hotspot
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-product-id="117">
                    <div class="d-flex flex-md-nowrap flex-wrap justify-content-md-between justify-content-center w-100">
                      <%= image_tag("phone/z-fold3.png", class: "min-h iphone-deals image-phone-clock pl-3 pt-4 img-head-clock", alt: "Samsung Galaxy Z Fold3 5G" ) %>
                      <div class="text py-2">
                        <h5 class="font-weight-bold pl-2">Samsung Galaxy Z Fold3 5G</h5>
                        <div class="w-100"></div>
                        <div class="detail-box mt-md-4">
                          <div class="row align-items-center">
                            <div class="pl-2 col text-center border-right pr-0 pr-md-3">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Unlimited</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data, Minutes,Texts
                              </span>
                            </div>
                            <div class="pl-2 col text-center">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Free</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data Roaming, Personal Hotspot
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-product-id="117">
                    <div class="d-flex flex-md-nowrap flex-wrap justify-content-md-between justify-content-center w-100">
                      <%= image_tag("phone/apple-iphone-13-mini.png", class: "min-h iphone-deals image-phone-clock pl-3 pt-4", alt: "iPhone 13" ) %>
                      <div class="text py-2">
                        <h5 class="font-weight-bold pl-2">iPhone 13</h5>
                        <div class="w-100"></div>
                        <div class="detail-box mt-md-4">
                          <div class="row align-items-center">
                            <div class="pl-2 col text-center border-right pr-0 pr-md-3">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Unlimited</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data, Minutes,Texts
                              </span>
                            </div>
                            <div class="pl-2 col text-center">
                              <h6 class="font-weight-bold mb-0 mt-2 fs-24">Free</h6>
                              <span class="text-muted fs-14 font-weight-bold">
                                Data Roaming, Personal Hotspot
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clock"></div>
            </div>
            <div class="row mt-2">
              <div class="col px-4">
                 <button class="btn btn-danger o-btn open-form  py-2 fs-24 w-100" data-product-id="118">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
